<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_generate_blocks_after">
        <observer name="sirio_layout_render_before" instance="Chiron\Sirio\Observer\AddJavascriptBlock" />
    </event>
    <!--  Cart events  -->
    
    <event name="sales_quote_item_set_product">
        <observer name="sirio_quote_item_set_product" instance="Chiron\Sirio\Observer\CartTrack" />
    </event>
    <event name="sales_quote_save_after">
        <observer name="sirio_quote_save_after" instance="Chiron\Sirio\Observer\CartTrack" />
    </event>
    <event name="sales_order_place_after">
        <observer name="sirio_order_place_after" instance="Chiron\Sirio\Ocontroller_action_layout_render_beforebserver\CartTrack" />
    </event>
</config>
